* {
    margin: 0;
}
body {
    background-color: darkseagreen;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
#inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}
#inputs > #input-1 {
    margin: 1px;
}
#inputs > #input-2 {
    margin: 1px;
}
#inputs > #input-3 {
    margin: 1px;
}
#inputs > #input-4 {
    margin: 1px;
}
#inputs > #input-5 {
    margin: 1px;
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    border-bottom: solid 1px #ccc;
}

li > span {
    font-size: x-large;
    margin: 5px;
}
li > p {
    margin: 5px;
}
li > img {
    position: relative;
    margin: 5px;
}
li > button {
    margin: 2px;
}
li > input {
    margin: 2px;
}

