@media (max-width: 500px){

    #container{
    }
    #header{
        font-size: 22px;
        background-color: rgb(30, 255, 131);
        text-align: center;
    }
    #side{
        font-size: 16px;
        background-color: dodgerblue;
        text-align: center;
    }
    #par{
        font-size: 12px;
        background-color: rgb(162, 167, 122);
        text-align: center;
    }
    #side2{
        font-size: 16px;
        background-color: dodgerblue;
        text-align: center;
    }
    #footer{
        font-size: 22px;
        background-color: rgb(41, 53, 64);
        text-align: center;
    }
}