* {
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.header {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    display: flex;
    align-items: center;
    height: 45px;
    padding: 20px;
}
.header--img {
    height: 50px;
    margin: 5px;
}
.header--title {
    margin-right: auto;
}
.header--subtitle {
    margin: 5px;
}