:root {
    margin: 0px;
    font-family: inter;
}
.header {
    background-color: #672280;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-title {
    display: flex;
}
.header--img {
    height: 40px;
    width: 40px;
    margin: 5px;
}
.header--title {
    color: white;
}
.header--subtitle {
    color: white;
}