nav {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.dark-theme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #15292B;
    color: darkgray;
}
.light-theme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #d4e5b0;
}
.vision-impaired-theme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #181818;
    color: darkgray;
    font-size: xx-large;
}