#pink{
    background-color: - #F5C6D6;
    border: 2px solid black;
    height: 50px;
    width: 50px;
}
#magenta1{
    
}
#magenta2{
    
}
#magenta3{
    
}
#magenta4{
    
}
#blue1{
    
}
#blue2{
    
}
#green{

}
#orange{
    
}